li {
  /* height: 2vh; */
  /* align-self: center; */
  padding: 0 0.7vh;
  margin: 1.1vh auto;
  font-size: 22px;
  font-weight: normal;
  cursor: pointer;
  color: darkslategrey;
  display: flex;
  justify-content: space-between;
  position: relative;
  /* border-left:  4px solid; */
}

.todo-item-done {
  /* border-left: green 6px solid; */
  text-decoration: line-through;
}
li button {
  opacity: 0;
  align-self: flex-end;
  z-index: 2;
}

li:hover button {
  opacity: 1;
  cursor: pointer;
  color: aliceblue;
  background-color: red;
  font-size: small;
  margin-left: 20px;
  padding: 2px 6px;
  border-radius: 20px;
}
